<main class="container px-96">
    <h1 class="text-5xl text-center my-6">Frequently Asked Questions</h1>
    <p class="text-center mb-10">
        Please reach us at
        <a href="mailto:info@dinkspickleballdsm.com">{{
            'info@dinkspickleballdsm.com'
            }}</a>
        if you cannot find an answer to your question.
    </p>

    @for(faq of faqs; track faq; let i = $index){
    <article class="p-4 border-t last:border-b border-white hover:cursor-pointer" (click)="toggleShown(i)">
        <div>
            <strong class="p-2"> {{faq.question}} </strong>
        </div>
        @if(shown.includes(i)){
        @for(answer of faq.answers; track answer; ){
        <!-- Is a string -->
        @if(isString(answer)){
        <p class="p-2">{{answer}}</p>
        }
        <!-- Is an array -->
        @else {
        <ul class="p-2">
            @for(item of answer; track item){
            <li>{{item}}</li>
            }
        </ul>
        }
        }
        }
    </article>
    }
</main>