<h1 class=" text-5xl text-center font-header">Instruction</h1>

<div class="container mx-auto px-2 sm:px-6 lg:px-8">
    <h1 class="text-5xl text-center mt-32 mb-12 font-header">Professional Instruction</h1>

    <article class="flex max-xl:flex-col">
        <div class="xl:w-full xl:mr-16 max-xl:mb-10 content-center">
            <p>
                We offer private 1:1 Instruction, Group Instruction, Youth training in addition to a variety of Clinics
                beginning with Intro to Pickleball!
            </p>
            <br>
            <p>
                To schedule lessons reach out to David & Bailey at <a
                    href="mailto:lanningpickleball@gmail.com">{{"lanningpickleball@gmail.com"}}</a>.
            </p>
        </div>
        <div class="rounded bg-striped rotate-3 p-6 shadow-2xl bottom-0">
            <img class="w-full h-full " src="DavidAndBailey.jpg" />
        </div>
    </article>
</div>