<!-- Rates -->
<div id="rates" class="container px-2 mx-auto sm:px-6 lg:px-8">
    <article class="px-10 pt-5 pb-10 mb-10 shadow-xl mt-36 bg-striped">
        <h2 class="flex mb-5 text-4xl font-header max-md:flex-col">
            Rates&nbsp;
            <em class="text-3xl text-gray-400 max-md:text-lg">
                (Membership required)
            </em>
        </h2>
        <!-- Open play -->
        <h3 class="mb-5 text-2xl text-center font-header">Open play</h3>
        <section class="grid grid-cols-2 gap-5 text-center max-md:grid-cols-1">
            <div class="flex flex-col p-5 bg-gray-900 border-2 rounded border-neutral-400">
                <strong class="text-sky-600">Monday-Friday</strong>
                <p class="flex justify-center">
                    <span class="text-3xl">$7/$8/$9</span>
                    <span class="self-end">/hour</span>
                </p>
                <p class="text-xl">determined by membership</p>
                <p>8AM-11AM</p>
            </div>

            <div class="p-5 bg-gray-900 border-2 rounded border-neutral-400">
                <strong class="text-sky-600">Friday, Saturday, Sunday</strong>
                <p class="flex justify-center">
                    <span class="text-3xl">$7/$8/$9</span>
                    <span class="self-end">/hour</span>
                </p>
                <p class="text-xl">determined by membership</p>
                <p>8PM-11PM</p>
            </div>
        </section>

        <!-- Court reservations desktop -->
        <h3 class="mt-10 mb-5 text-2xl text-center font-header">Court reservations</h3>
        <section class="grid grid-cols-3 gap-5 text-center max-md:grid-cols-1">
            <div class="p-5 bg-gray-900 border-2 rounded border-neutral-400">
                <strong class="text-sky-600">Monday-Friday</strong>
                <p class="flex justify-center">
                    <span class="text-3xl">$16</span>
                    <span class="self-end">/hour</span>
                </p>
                <p>6AM-4PM</p>
            </div>

            <div class="p-5 bg-gray-900 border-2 rounded border-neutral-400">
                <strong class="text-sky-600">Monday-Friday (Evenings)</strong>
                <p class="flex justify-center">
                    <span class="text-3xl">$22</span>
                    <span class="self-end">/hour</span>
                </p>
                <p>4PM-12AM</p>
            </div>

            <div class="p-5 bg-gray-900 border-2 rounded border-neutral-400">
                <strong class="text-sky-600">Saturday/Sunday</strong>
                <p class="flex justify-center">
                    <span class="text-3xl">$28</span>
                    <span class="self-end">/hour</span>
                </p>
                <p>6AM-12AM</p>
            </div>
        </section>
    </article>
</div>

<div id="memberships" class="container px-2 mx-auto sm:px-6 lg:px-8">
    <article class="grid grid-cols-4 mb-10 gap-y-5 max-lg:hidden">
        <h2 class="flex col-span-4 text-4xl font-header">Annual Memberships</h2>
        <table class="col-span-3 border-separate border-spacing-2">
            <!-- Headers -->
            <thead>
                <tr>
                    <th class="p-5 text-white bg-gray-800 border border-gray-600 rounded">Membership tier</th>
                    <th class="p-5 text-white bg-gray-800 border border-gray-600 rounded">Price/year</th>
                    <th class="p-5 text-white bg-gray-800 border border-gray-600 rounded">Open play/hour</th>
                    <th class="p-5 text-white bg-gray-800 border border-gray-600 rounded">Court booking</th>
                    <th class="p-5 text-white bg-gray-800 border border-gray-600 rounded">
                        Early tournament and special event access
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Limited -->
                <tr>
                    <td class="p-5 text-xl border-2 rounded border-amber-300">Limited</td>
                    <td class="p-5 text-xl border-2 rounded border-amber-300">$45</td>
                    <td class="p-5 text-xl border-2 rounded border-amber-300">$9</td>
                    <td class="p-5 border-2 rounded border-amber-300">5 days in advance</td>
                    <td class="p-3 text-lg text-red-600 border-2 rounded border-amber-300">✘</td>
                </tr>
                <!-- Standard -->
                <tr>
                    <td class="p-5 text-xl border-2 rounded border-sky-500">Standard</td>
                    <td class="p-5 text-xl border-2 rounded border-sky-500">$125</td>
                    <td class="p-5 text-xl border-2 rounded border-sky-500">$8</td>
                    <td class="p-5 border-2 rounded border-sky-500">2 weeks in advance</td>
                    <td class="p-3 text-xl text-green-600 border-2 rounded border-sky-500">✓</td>
                </tr>
                <!-- VIP -->
                <tr>
                    <td class="p-5 text-xl border-2 rounded border-violet-600">VIP</td>
                    <td class="p-5 text-xl border-2 rounded border-violet-600">$195</td>
                    <td class="p-5 text-xl border-2 rounded border-violet-600">$7</td>
                    <td class="p-5 border-2 rounded border-violet-600">6 months in advance</td>
                    <td class="p-3 text-xl text-green-600 border-2 rounded border-violet-600">✓</td>
                </tr>
            </tbody>
        </table>

        <div class="relative m-2">
            <div class="absolute top-0 right-0 w-2/3 bg-dotted h-2/3"></div>
            <div class="absolute bottom-0 left-0 w-5/6 p-6 rounded shadow-xl bg-dinks-blue h-4/5">
                <div class="flex flex-col justify-between h-full">
                    <strong class="text-xl">All tiers include:</strong>
                    Personalized door access upon signing up for open play or booking a
                    court
                    <button class="py-2 rounded bg-dinks-red hover:bg-dinks-red-dark" (click)="toggleModal()">
                        Sign me up!
                    </button>
                </div>
            </div>
        </div>
    </article>
</div>


<!-- Memberships mobile -->
<div id="memberships-mobile" class="container px-2 mx-auto sm:px-6 lg:hidden">
    <article class="mb-10 lg:hidden">
        <h2 class="mb-5 text-4xl text-center font-header">Annual Memberships</h2>
        <!-- Limited -->
        <div class="p-5 mb-5 border-2 rounded shadow-xl border-amber-300">
            <div class="flex justify-between mb-2" (click)="toggleLimited()">
                <strong class="text-3xl text-amber-300">Limited</strong>
                <svg [class.rotate-180]="limited" xmlns="http://www.w3.org/2000/svg" height="24px"
                    viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </div>
            <ul class="mb-3 ml-5 list-disc" [hidden]="!limited">
                <li>Ability to book 5 days in advance</li>
                <li>Weekday Open Play $9/session</li>
            </ul>
            <span class="flex">
                <p class="text-2xl">$45</p>
                <p class="mt-3 ml-1 text-sm">/year</p>
            </span>
        </div>

        <!-- Standard -->
        <div class="p-5 mb-5 border-2 rounded shadow-xl border-sky-500">
            <div class="flex justify-between mb-2" (click)="toggleStandard()">
                <strong class="text-3xl text-sky-500">Standard</strong>
                <svg [class.rotate-180]="standard" xmlns="http://www.w3.org/2000/svg" height="24px"
                    viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </div>
            <ul class="mb-3 ml-5 list-disc" [hidden]="!standard">
                <li>Ability to book 2 weeks in advance</li>
                <li>Weekday Open Play $8/session</li>
                <li>Early access to tournaments & special events</li>
            </ul>
            <span class="flex">
                <p class="text-2xl">$125</p>
                <p class="mt-3 ml-1 text-sm">/year</p>
            </span>
        </div>

        <!-- VIP -->
        <div class="p-5 mb-10 border-2 rounded shadow-xl border-violet-600">
            <div class="flex justify-between mb-2" (click)="toggleVIP()">
                <strong class="text-3xl text-violet-600">VIP</strong>
                <svg [class.rotate-180]="vip" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#e8eaed">
                    <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </div>
            <ul class="mb-3 ml-5 list-disc" [hidden]="!vip">
                <li>Ability to book 6 months in advance</li>
                <li>Weekday Open Play $7/session</li>
                <li>Early access to tournaments & special events</li>
            </ul>
            <span class="flex">
                <p class="text-2xl">$195</p>
                <p class="mt-3 ml-1 text-sm">/year</p>
            </span>
        </div>

        <div class="relative h-48 m-5">
            <div class="absolute w-full h-full bg-dotted rotate-2">
            </div>
            <div
                class="absolute w-11/12 p-6 -translate-x-1/2 -translate-y-1/2 rounded shadow-xl bg-dinks-blue h-5/6 top-1/2 left-1/2">
                <div class="flex flex-col justify-between h-full">
                    <strong class="text-xl">All tiers include:</strong>
                    Personalized door access upon signing up for open play or booking a
                    court
                    <button class="py-2 rounded bg-dinks-red hover:bg-dinks-red-dark" (click)="toggleModal()">
                        Sign me up!
                    </button>
                </div>
            </div>
        </div>
    </article>
</div>


@if (showModal) {
<article>
    <div class="fixed w-screen h-screen -translate-x-1/2 -translate-y-1/2 bg-smoked-background top-1/2 left-1/2"
        (click)="toggleModal()">
    </div>
    <div
        class="fixed px-5 py-8 -translate-x-1/2 -translate-y-1/2 rounded bg-dinks-blue max-xl:text-center max-md:w-11/12 top-1/2 left-1/2">
        <!-- X button -->
        <button (click)="toggleModal()" class="absolute top-0 p-3 text-2xl right-1">✕</button>

        <!-- Content -->
        <strong class="text-3xl">How to sign up for a membership:</strong>
        <div class="grid gap-8 p-5 xl:grid-cols-2 max-xl:grid-cols-1">
            <div class="p-5 border-2 border-gray-600 rounded">
                <strong class="text-lg">Download the app!</strong>
                <ul class="ml-5 list-decimal">
                    <li>Download Court Reserve app</li>
                    <li>Create an account</li>
                    <li>Search and select Dinks Pickleball from drop down menu</li>
                    <li>Select preferred membership type</li>
                </ul>
            </div>
            <div class="p-5 border-2 border-gray-600 rounded">
                <strong class="text-lg">Use the website!</strong>
                <ul class="ml-5 list-decimal">
                    <li>Visit <a href="https://www.courtreserve.com" target="_blank">www.courtreserve.com</a></li>
                    <li>Select "Login" > "Don't have an Account?" > "I'm a player"</li>
                    <li>Search and select Dinks Pickleball</li>
                    <li>Create account and select preferred membership type</li>
                </ul>
            </div>
        </div>
    </div>
</article>
}