<article>
    <div class="absolute left-0">
        <div class="flex w-screen">
            <!-- <img class="w-1/2" src="singleCourt.jpg"> -->
            <img class="w-1/2 scale-x-[-1]" src="facility.jpg">
            <img class="w-1/2" src="facility.jpg">
            <div class="absolute bg-smoked-background w-screen h-full">
                <img class="relative left-1/2 top-1/2 h-2/3 -translate-x-1/2 -translate-y-1/2" src="logoWithBall.png">
            </div>
        </div>
    </div>
</article>

<!-- <article class="grid xl:grid-cols-3 max-xl:grid-cols-1">
    <figure class="borderl-2 border-dinks-green w-full h-full">

    </figure>
    <figure class="border-l-2 border-dinks-green w-full h-full">
        <div class="flex flex-col text-center">
            <span>3800 Merle Hay Rd Suite 1000</span>
            <span>Des Moines, IA 50310</span>
        </div>
        <div class="flex flex-col text-center">
            <strong>Hours:</strong>
            <span>6AM-midnight 7days/week</span>
        </div>
    </figure>
    <figure class="border-l-2 border-dinks-green w-full h-full">

    </figure>
</article> -->